@charset 'UTF-8';

/* O conteúdo do site */
#conteudo {
    margin: 5% auto;
}

/* Sobre o site */
#conteudo .indice {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    border-radius: 2em 2em 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#conteudo .indice h1 {
    font-size: 1.4em;
}

/* Personagens/Pokémon */
#conteudo .evolucoes {
    color: white;
    padding: 2% 8%;
    font-size: 0.9em;
    display: flex;
    align-items: end;
}
/* Parte que contém o nome, a descrição e botão de ver mais */
#conteudo .evolucoes .introducao {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto 5%;
}
#conteudo .evolucoes .introducao div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#conteudo .evolucoes .introducao button {
    border: 0;
    background-color: white;
    color: var(--verde-escura);
    font-weight: bolder;
    font-size: 1em;
    width: max-content;
    padding: 2% 4%;
    border-radius: 1em;
    transition-duration: .2s;
    cursor: pointer;
}
#conteudo .evolucoes .introducao button:hover,
#conteudo .evolucoes .introducao button:focus-visible {
    background-color: var(--verde-escura);
    color: white;
}
#conteudo .evolucoes .introducao button:active {
    background-color: var(--verde-clara);
    color: white;
}

/* Parte em que contém as imagens de cada pokémon inicial com suas evoluções */
#conteudo .evolucoes .est-evolutivos {
    display: flex;
    align-items: end;
    gap: 1em;
}
#conteudo .evolucoes .est-evolutivos img {
    width: 30%;
    height: auto;
}

/* Especificidades para cada tipo inicial de pokémon */
#conteudo .evolucoes#planta {
    background-color: var(--verde-clara);
}
#conteudo .evolucoes#fogo {
    background-color: var(--vermelha-escura);
}
#conteudo .evolucoes#agua{
    background-color: var(--azul);
}
#conteudo .evolucoes#planta .introducao,
#conteudo .evolucoes#agua .introducao {
    text-align: right;
    display: flex;
    align-items: center;
    align-items: end;
}