<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    
    <header id="cabecalho">

        <figure class="logo">
            <a href="../../index.html" rel="self">
                <img src="../img/pokemon_logo.png" alt="Logo Pokémon">
            </a>
        </figure>

        <nav class="nav">
            <ul>
                <a href="#sobre">Sobre</a>
                <a href="#planta">Personagens</a>
                <a href="#rodape">Créditos</a>
            </ul>
        </nav>

    </header>

    <main id="conteudo">

    </main>

    <footer id="rodape">
        <p>
            Projeto passado por Leando e desenvolvido por <a href="" rel="external" target="_blank">Enne</a> e <a href="" rel="external" target="_blank">Thiago.</a>
        </p>
        <hr>
        <article class="autorias">
            <h3>Autorias de fonte:</h3>
            <ul>
                <a href="https://pluspng.com/png-36599.html" rel="external" target="_blank">Logo da franquia</a>
                <a href="https://pokemon.fandom.com/pt-br/wiki/Pok%C3%A9dex" rel="external" target="_blank">Imagem da pokedex</a>
                <a href="https://www.serebii.net/pokemon/nationalpokedex.shtml" rel="external" target="_blank">Imagem dos pokémon</a>
            </ul>
        </article>
    </footer>

</body>
</html>