@charset 'UTF-8';

/* A mente do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 2vw Arial, Helvetica, sans-serif;
    max-width: 100%;
    height: auto;
}
/* Rolamento suave do site */
html {
    scroll-behavior: smooth;
}
/* Variáveis css para melhor atribuição de elementos visuais */
:root {
    --vermelha-escura: #D90D32;
    --vermelha-clara: #D90D43;
    --azul: #29A5F2;
    --verde-escura: #01261F;
    --verde-clara: #51A657;
}

/* O cabeçalho do site */
#cabecalho .logo {
    background-color: var(--vermelha-escura);
    padding: 1%;
    border-radius: 0 0 10em 10em;
}
#cabecalho .logo a {
    display: inline-flex;
    margin: auto 40%;
}
#cabecalho .logo a img {
    width: 100%;
    height: auto;
}

#cabecalho .nav {
    background-image: linear-gradient(to bottom, var(--vermelha-escura), var(--vermelha-clara));
    padding: 1%;
    border-radius: 0 0 10em 10em;
    margin: auto 9%;
}
#cabecalho .nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto 8%;
}
#cabecalho .nav ul a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 2% 0%;
    transition-duration: .2s;
}
#cabecalho .nav ul a:hover {
    background-color: white;
    color: var(--vermelha-escura);
    border-radius: 1em;
    padding: 2% 3%;
}
#cabecalho .nav ul a:active {
    background-color: var(--vermelha-clara);
    color: white;
}

/* O conteúdo do site */
#conteudo {
    margin: 5% auto;
}
/* Sobre o site */
#conteudo .indice {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    border-radius: 2em 2em 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#conteudo .indice h1 {
    font-size: 1.4em;
}
/* Personagens */
#conteudo .evolucoes {
    color: white;
    padding: 2% 8%;
    font-size: 0.9em;
    display: flex;
    align-items: end;
}
#conteudo .evolucoes .introducao {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto 5%;
}
#conteudo .evolucoes .introducao div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#conteudo .evolucoes .introducao a {
    text-decoration: none;
    background-color: white;
    color: var(--verde-escura);
    font-weight: bolder;
    width: max-content;
    padding: 2% 4%;
    border-radius: 1em;
    transition-duration: .2s;
}
#conteudo .evolucoes .introducao a:hover {
    background-color: var(--verde-escura);
    color: white;
}
#conteudo .evolucoes .introducao a:active {
    background-color: var(--verde-clara);
    color: white;
}
#conteudo .evolucoes .est-evolutivos {
    display: flex;
    align-items: end;
    gap: 1em;
}
#conteudo .evolucoes .est-evolutivos img {
    width: 30%;
    height: auto;
}
/* Especificidades para cada personagem */
#conteudo .evolucoes#planta {
    background-color: var(--verde-clara);
}
#conteudo .evolucoes#fogo {
    background-color: var(--vermelha-escura);
}
#conteudo .evolucoes#agua{
    background-color: var(--azul);
}
#conteudo .evolucoes#planta .introducao, #conteudo .evolucoes#agua .introducao {
    text-align: right;
    display: flex;
    align-items: center;
    align-items: end;
}

/* O rodapé do site */
#rodape {
    background-color: var(--vermelha-clara);
    color: white;
    border-radius: 5em 5em 0 0;
    padding: 3%;
}

#rodape p {
    text-align: center;
}
#rodape p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#rodape p a:hover {
    padding: 0.5%;
}

#rodape hr {
    margin: 2% 5%;
}

#rodape .autorias {
    display: flex;
    justify-content: center;
    gap: 1em;
}
#rodape .autorias ul {
    display: flex;
    flex-direction: column;
}
#rodape .autorias ul a:not(:last-child) {
    margin-bottom: 4%;
}
#rodape .autorias ul a:hover {
    padding: 2%;
}
#rodape .autorias ul a, #rodape p a {
    text-decoration: none;
    color: var(--azul);
    font-weight: bolder;
    width: max-content;
    transition-duration: .2s;
}
#rodape .autorias ul a:hover, #rodape p a:hover {
    background-color: #29A5F2;
    color: white;
    border-radius: 1em;
}
#rodape .autorias ul a:active, #rodape p a:active {
    background-color: white;
    color: var(--azul);
}